{{extend 'layout.html'}}
{{from gluon.tools import prettydate}}

<h2>{{=auth.user.first_name}}</h2>
{{=form}}
<div class="new" style="display:none">
  <a href="{{=URL('default', 'index')}}" class="btn btn-primary" role="button">NEW MESSAGE!</a>   
</div>
<ul>
{{for msg in messages:}}
  <li style="border: 1px solid #000; margin-top: 5px;">
    <strong>{{=msg.created_by.first_name}}</strong>
    <small>{{=prettydate(msg.created_on)}}</small>
    <p>
      {{=msg.message}}
    </p>
  </li>
{{pass}}
</ul>
<script>
$(document).ready(function(){
  var data;
  $.web2py.web2py_websocket('ws://127.0.0.1:8888/realtime/mygroup', function(e){data=eval('('+e.data+')')});
});
</script>